.content {
    position: relative;
    min-height: 100vh
}

.product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.cards {
    width: 250px;
    text-align: center;
    margin-bottom: 5rem;
}

.cards h2 {
    font-size: 1rem;
    height: 72px;
}

.cards img {
    width: 100%;
}

.cards p {
    margin-bottom: .7rem;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns button {
    padding: .3em 1em;
    cursor: pointer;
}

.btns p {
    align-items: center;
    margin: 0 .5rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    background: black;
    padding: .75em;
    color: white;
}

.footer-btn {
    margin-left: 3.5rem;
    font-size: 1.2rem;
    background: black;
    border: 2px solid white;
    color: white;
    padding: .3em;
    cursor: pointer;
}