.content {
    position: relative;
    min-height: 100vh
}

.product {
    display: grid;
    grid-template-columns: repeat(3, 1fr);
    gap: 5px;
}

.cards {
    width: 250px;
    text-align: center;
}

.cards h2 {
    font-size: 1rem;
}

.cards img {
    width: 100%;
}

.cards p {
    margin-bottom: .7rem;
}

.btns {
    display: flex;
    justify-content: center;
    align-items: center;
}

.btns button {
    padding: .3em 1em;
    cursor: pointer;
}

.btns p {
    align-items: center;
    margin: 0 .5rem;
}

.footer {
    position: absolute;
    bottom: 0;
    width: 100%;
}