* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

header {
  font-size: 1.2rem;
  margin-top: 2rem;
}

.link-tag {
  text-decoration: none;
  font-size: 1.4rem;
  color: black;
  padding: 1em;
}

.link-tag:hover {
  background: black;
  color: white;
}

.img img {
  width: 80%;
  margin-top: 4rem;
}